.layout img {
  width: 610px;
  height: 605px;
  border-radius: 50%;
  margin: 0 auto;
  max-width: 98%;
  display: block;
}

.layout .behindImage {
  width: 610px;
  height: 600px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 28px 28px 56px #3caf92, -28px -28px 56px #6affff;
}

.layout h1,
.layout h2 {
  text-align: center;
}
